html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  line-height: 100%;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font: "Nunito", sans-serif;
  color: #301a6bda;
  background: white;
  font-weight: 900;
  border-style: none;
  border-radius: 10px;
  padding: 1.8rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  box-shadow: 0px 5px 0px 0px #301a6bda;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

button:hover {
  transition-duration: 150ms;
  background-color: #5ad485;
}

button svg {
  transform-origin: center;
  transform: scale(1.3);
  min-width: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

input {
  background-color: rgba(83, 27, 27, 0.5);
  border: 0px;
  font-weight: 900;
  color: white;
  padding: 0.7rem;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 150ms;
  text-align: center;
}

input::placeholder, ::-webkit-input-placeholder {
  text-align: center;
  color: #d4a49d;
}

input:focus {
  outline: none;
}

.non-empty-input {
  background-color: rgba(83, 27, 27, 0.5);
}

h3 {
  color: #301a6bda;
  font-weight: 900;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

.gradient-background {
  background: linear-gradient(to bottom, #8a2387, #e94057, 80%, #f27121);
  align-items: center;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: rgba(80, 24, 81, 0.5);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-wrapper span {
  margin-left: 1.2rem;
}

header .logo-wrapper span:hover {
  margin-left: 1.2rem;
}

header .source-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .source-wrapper span {
  margin-left: 0.2rem;
}

header ul li {
  font-weight: lighter;
}

header ul li a:hover {
  transition-duration: 150ms;
  color: #5ad485;
}

header img {
  height: 2rem;
  margin: -1rem;
  padding: 0.8rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-rules-wrapper {
  background: rgba(80, 24, 81, 0.25);
  border-radius: 10px;
  padding: 2rem;
  padding-bottom: 1.4rem;
  padding-left: 0px;
  padding-right: 0px;
  color: #3a2395;
}

.game-rules-wrapper button {
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.game-rule-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  background: white;
  padding-bottom: 2.5rem;
  border-radius: 10px;
}

.game-rule-wrapper h3 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2.5rem;
  min-width: none;
}

.game-rule-wrapper p {
  overflow-wrap: break-word;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  min-width: none;
}

.carousel-button-group {
  position: static;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.join-or-create-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.create-room-button {
  margin-left: 5%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 30px;
  width: 40%;
  margin-right: 0px;
}

.join-or-create-wrapper button svg {
  transform-origin: center;
  transform: scale(0.8);
}

.join-room-wrapper {
  margin-left: 0%;
  margin-right: 0%;
  width: 60%;
}

.join-room-wrapper input {
  min-width: 0;
  font-size: 30px;
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 60px;
  overflow-wrap: break-word;
}

.join-room-wrapper button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 60px;
  font-size: 19px;
}

.join-room-wrapper button svg {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 500px) {
  .join-or-create-wrapper button,
  .join-or-create-wrapper input {
    font-size: 19px;
  }
  .join-room-wrapper {
    width: 50%;
  }
  .create-room-button {
    width: 50%;
  }

  .create-room-button {
    width: 50%;
    padding: 1.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .join-room-wrapper input {
    height: 40px;
  }

  .join-room-wrapper button {
    height: 40px;
    text-transform: lowercase;
  }
}
