html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font: "Nunito", sans-serif;
  color: #301a6bda;
  background: white;
  font-weight: 900;
  border-style: none;
  border-radius: 10px;
  padding: 1.8rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  box-shadow: 0px 5px 0px 0px #301a6bda;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 0;
}

button:hover,
button:active {
  transition-duration: 100ms;
  background-color: #5ad485;
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px #301a6bda;
}

button:disabled,
button[disabled] {
  transition-duration: 100ms;
  background-color: rgba(221, 221, 221, 0.77);
  /* transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px #423170da; */
  box-shadow: 0px 5px 0px 0px #423170da;
  transform: none;
  color: #423170da;
}

button svg {
  transform-origin: center;
  font-size: 24.7px;
  min-width: 19px;
  margin-left: 5px;
  margin-right: 5px;
}

input {
  background-color: rgba(83, 27, 27, 0.5);
  border: 3px solid rgba(80, 24, 81, 0.25);

  font-weight: 900;
  color: white;
  padding: 0.7rem;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 150ms;
  text-align: center;
}

input::placeholder,
::-webkit-input-placeholder {
  text-align: center;
  color: #d4a49d;
}

input:focus {
  outline: none;
}

.non-empty-input {
  background-color: rgba(83, 27, 27, 0.5);
}

.game-rule-wrapper h3 {
  color: #301a6bda;
  font-weight: 900;
  font-size: 25px;
}

h3,
.widget-header {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: white;
}

.gradient-background {
  background: linear-gradient(to bottom, #8a2387, #e94057, 80%, #f27121);
  align-items: center;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: rgba(80, 24, 81, 0.5);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
}

header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-wrapper span {
  margin-left: 1.2rem;
}

header .logo-wrapper span:hover,
header .logo-wrapper span:active {
  margin-left: 1.2rem;
}

header .source-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .source-wrapper span {
  margin-left: 0.2rem;
}

@media (max-width: 400px) {
  header .source-wrapper span {
    display: none;
  }
  header .source-wrapper svg {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 1200px) {
  header {
    margin-top: 10px;
  }
}

header ul li {
  font-weight: lighter;
}

header ul li a:hover,
header ul li a:active {
  transition-duration: 150ms;
  color: #5ad485;
}

header img {
  height: 2rem;
  margin: -1rem;
  padding: 0.8rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-rules-wrapper {
  background: rgba(80, 24, 81, 0.25);
  border: 3px solid rgba(80, 24, 81, 0.25);
  border-radius: 10px;
  padding: 2rem;
  padding-bottom: 1.4rem;
  padding-left: 0px;
  padding-right: 0px;
  color: #3a2395;
}

.game-rules-wrapper button {
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.game-rule-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  background: white;
  padding-bottom: 2.5rem;
  border-radius: 10px;
}

.game-rule-wrapper h3 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2.5rem;
  min-width: none;
}

.game-rule-wrapper p {
  overflow-wrap: break-word;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  min-width: none;
  color: #3a2395;
}

.carousel-button-group {
  position: static;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.join-or-create-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.create-room-button {
  margin-left: 5%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 30px;
  width: 40%;
  margin-right: 0px;
}

.join-or-create-wrapper button svg {
  transform-origin: center;
  transform: scale(0.8);
  height: 21.85px;
  width: 21.85px;
}

.join-room-wrapper {
  margin-left: 0%;
  margin-right: 0%;
  width: 60%;
}

.join-room-wrapper input {
  min-width: 0;
  font-size: 30px;
  width: 100%;
  height: 60px;
  overflow-wrap: break-word;
  margin-bottom: 5px;
}

.join-room-wrapper button {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 60px;
  font-size: 19px;
}

.join-room-wrapper button svg {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 500px) {
  .join-or-create-wrapper button,
  .join-or-create-wrapper input {
    font-size: 19px;
  }
  .join-room-wrapper {
    width: 50%;
  }
  .create-room-button {
    width: 50%;
  }

  .create-room-button {
    width: 50%;
    padding: 1.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .join-room-wrapper input {
    height: 40px;
  }

  .join-room-wrapper button {
    height: 40px;
    text-transform: lowercase;
  }

  .join-or-create-wrapper button svg {
    transform-origin: center;
    font-size: 11.4px;
  }
}

.running-game-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.game-phase-text {
  background-color: rgba(80, 24, 81, 0.5);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.gamephase-title-wrapper span {
  font-weight: 900;
}

/* gamesplit */

.gamesplit-wrapper {
  display: flex;
}
.gamesplit-left {
  width: 20%;
}
.gamesplit-right {
  width: calc(80% - 4px);
  margin-left: 4px;
}

@media (max-width: 900px) {
  .gamesplit-wrapper {
    display: flex;
  }
  .gamesplit-left {
    width: 30%;
  }
  .gamesplit-right {
    width: 70%;
  }
}
/* gamesplit */

.players-list {
  max-height: 500px;
  overflow: overlay;
}

.player-item {
  background: rgba(80, 24, 81, 0.25);
  padding: 0.7rem;
  height: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 3px solid rgba(80, 24, 81, 0.25);
  margin-bottom: 1.5px;
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
}

.player-status-name {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-icon {
  width: 19px;
}

.player-name {
  width: calc(95% - 19px);
}

@media (max-width: 600px) {
  .player-item {
    padding: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .game-phase-text {
    font-size: 20px;
  }
  .player-icon {
    width: 13px;
    height: 13px;
    font-size: 13px;
  }
  .player-name {
    width: calc(95% - 13px);
  }
}

.player-name > div {
  display: flex;
  align-items: center;
}

.player-name-span {
  margin-bottom: auto;
  margin-top: auto;
}

.self-palyer-item .player-name-span {
  color: #5ad485;
}

.rightside-widget {
  background: rgba(80, 24, 81, 0.25);
  border: 3px solid rgba(80, 24, 81, 0.25);
  padding: 15px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.change-name-widget {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rightside-widget .widget-header {
  margin-bottom: 10px;
}

.change-name-input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.change-name-input-group input {
  height: 50px;
  width: auto;
  max-width: 200px;
  min-width: 0;
  margin-right: 3px;
}

.change-name-input-group button {
  height: calc(50px - 5px);
  width: 60px;
  font-size: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.popup-menu {
  width: 200px;
  margin-top: 2.5px;
  max-height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: overlay;
}

.popup-arrow {
  color: #301a6bda;
}

.popup-menu-item {
  color: #301a6bda;

  background: white;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 0;
}

.popup-menu-item:hover {
  background-color: #5ad485;
}

.popup-trigger {
  color: #301a6bda;
  border: 3px solid #301a6bda;
  background: white;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  width: 100%;
}

.popup-trigger:hover {
  background-color: #5ad485;
}

.popup-trigger:disabled,
.popup-trigger[disabled] {
  background-color: rgba(221, 221, 221, 0.77);
}

.choose-main-player-widget .popup-trigger {
  max-width: 200px;
  box-sizing: border-box;
}

.popup-player-icon {
  margin-right: 2.5px;
}

.popup-status-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.small-clarification-text {
  font-size: 16px;
  font-weight: 600;
  color: #d4a49d;
  display: block;
  box-sizing: border-box;
}

.start-game-widget button {
  width: auto;
  max-width: 200px;
  display: block;
  width: 100%;
}

.start-game-widget .small-clarification-text {
  margin-top: 5px;
}

/* Styles for the radio buttons */
input[type="radio"] {
  transition: none;
  /* Hide the default radio button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Create a box for our custom radio button */
  display: inline-block;
  width: 21px;
  height: 21px;

  /* Background color of the button */
  background-color: white;
  /* Border to make it clear where the clickable area is */
  border: 2px solid rgb(80, 24, 81);
  border-radius: 4px;

  /* Center the radio buttons vertically */
  vertical-align: middle;

  /* Transition for smooth color change */
  transition: background-color 0.3s, border-color 0.3s;
}

/* Style when the radio is checked */
input[type="radio"]:checked {
  background-color: #5ad485;
}

/* Focus state, for accessibility */
input[type="radio"]:focus {
  outline-offset: 2px; /* Offset the outline a bit so it doesn't clash visually with the border */
}

.ask-question-widget input {
  font-weight: 800;
  font-size: 14px;
}

.right-answer-radio {
  margin-left: 5px;
  margin-right: 5px;
}

.question-input {
  margin-bottom: 6px;
  max-width: min(calc(100% - 31px), calc(350px - 31px));
  margin-bottom: 10px;
  width: 100%;
}

.ask-question-widget .options-input {
  max-width: min(calc(100% - 31px), calc(350px - 31px));
  margin-bottom: 1.5px;
  width: 100%;
}

.submit-button-wrapper {
  display: flex;
  max-width: min(calc(100% - 31px), calc(350px - 31px));
  align-items: center;
  justify-content: center;
}

.submit-button {
  max-width: calc(200px);
  margin-top: 20px;
}

.question-widget .game-rule-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

.rightside-widget .game-rule-wrapper {
  padding-bottom: 15px;
  max-width: 400px;
}

.rightside-widget .game-rule-wrapper h3 {
  padding-top: 15px;
}

.rightside-widget .game-rule-wrapper p {
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow-x: auto;
  height: 100px;
  font-size: 16px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .rightside-widget .game-rule-wrapper h3 {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 21px;
  }
}

.answer-option-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  margin-bottom: 15px;
}

.selected-button,
.selected-button:disabled,
.selected-button[disabled] {
  transition-duration: 100ms;
  background-color: #5ad485;
  transform: translateY(2px);
  box-shadow: 0px 3px 0px 0px #301a6bda;
}

.dead-name {
  text-decoration: line-through;
}
